<form action="/checkout" method="post">
    <label for="item_to_puchase">Item to purchase: </label>
    <input type="text" name="item"></input>

    <button type="submit" id="submit" class="click_button">Submit</button>
</form>